@import '../../../static/scss/common.scss';

.brand {
    @include flexContentCenter;
	width: 100%;
	height: 64px;
	font-size: 26px;
    color: $white;
	.text {
        margin-left: 5px;
        @include transition(all .3s ease-in-out);
	}
}
.brand.collapsed {
	.text {
		width: 0;
		visibility: hidden;
		opacity: 0;
	}
}

